<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile</title>
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
  <div class="w-full min-h-screen bg-zinc-900 text-white p-10">
    <h3 class="text-3xl mb-5">Profile Page</h3>
    <p class="text-xl mb-4">Welcome to your profile!</p>
    <a href="/logout" class="px-5 py-2 rounded bg-red-500 hover:bg-red-700 text-white font-medium transition-all duration-300 inline-block">Logout</a>
  </div>
</body>
</html>